/*--------------------------------------------------------------
# style lifelong
# color #412e5c; //à¸¡à¹ˆà¸§à¸‡LE
# color #9E76b4; //à¸¡à¹ˆà¸§à¸‡CMU
--------------------------------------------------------------*/
/*@import 'https://fonts.googleapis.com/css?family=Prompt';*/
body{
    /*font-family: 'Prompt', sans-serif;*/
    color:#000 !important;
    line-height: 1.5 !important;
}
h1,h2,h3,h4,h5,h6{
    /*font-family: 'Prompt', sans-serif;*/
}

a {
  color: #412e5c;
  transition: 0.5s;
}
a:hover,
a:active,
a:focus {
  color: #9E76b4;
  outline: none;
  text-decoration: none;
}
p {
    padding: 0 !important;
    margin-bottom: 0.5rem !important;
}

@media (min-width: 768px) {
  #contact .contact-address,
  #contact .contact-phone,
  #contact .contact-email,
  #contact .contact-social-block {
    padding: 20px 0;
    border-left: 1px solid #ddd;
  }

  /*#contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  #contact .contact-social-block{  border-left: 1px solid #ddd;  }*/
}

@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  #header #logo {
    padding-left: 60px;
  }

  #intro p {
    width: 60%;
  }

  #intro .carousel-control-prev,
  #intro .carousel-control-next {
    width: 5%;
  }

  #nav-menu-container {
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  /* #new {
    padding: 40px 10px 40px 10px !important;
  } */
  #new .new-col.colone {
    /* height: 240px !important; */
    overflow: hidden;
    max-height: fit-content !important;
  }
  #new .new-col p{
    display: none !important;
  }
}
/*--------------------------------------------------------------
# End Responsive Media Queries
--------------------------------------------------------------*/
.carousel-content > h2 {text-shadow: 2px 2px #693686;}
#header{
  -webkit-box-shadow: inset 0 70px 40px -20px rgba(0,0,0,0.8) !important;
  -moz-box-shadow: inset 0 70px 40px -20px rgba(0,0,0,0.8) !important;
  box-shadow: inset 0 70px 40px -20px rgba(0,0,0,0.8) !important;
}

#header #logo h1 {
  font-size: 16px !important;
  font-weight: bold;
}
#logo h1 a:hover {
  color: #FFFFFF !important;
  border-bottom:2px solid #FFFFFF;
}
#intro h2 {
    color: #fff;
    margin-top: 120px !important;
    margin-bottom: 0px !important;
}
#header.header-scrolled {
  background: #412e5c; /*à¸¡à¹ˆà¸§à¸‡LE*/
  box-shadow: 0 0 10px rgba(0,0,0,.15), 0 3px 3px rgba(0,0,0,.15);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}
.nav-menu a{
    padding: 0 8px 8px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    /*font-family: 'Prompt', sans-serif;*/
    font-weight: 500;
    font-size: 1.05em;
    text-transform: none !important;
    outline: none;
    background-color: transparent;
    position: relative;
}
.nav-menu a.menusession{
  color: #000000 !important;
  font-size: 14px !important;
  font-weight: 200 !important;
}
/* .nav-menu a:active, .nav-menu a:visited{
  color: #FFFFFF !important;
} */
.nav-menu a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-menu a:hover:after {
  width: 100%;
  left: 0;
}
.nav-menu li:hover > a,
.nav-menu > .menu-active > a {
  color: #FFFFFF !important;
}
.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #FFFFFF !important;
  border-bottom:2px solid #FFFFFF;
}
.nav-menu a.menuactive{
  padding: 0 8px 10px 8px !important;
  background-color: transparent !important;
  border-bottom:2px solid #FFFFFF;
}
#mobile-nav ul li a {
    color: #fff !important;
}
#mobile-nav {
    background: #412e5c !important;
}
#mobile-nav ul .menu-item-active {
    color: #FFFFFF !important;
}
#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #FFFFFF !important;
}
#mobile-nav {
    left: -350px;
    width: 350px;
}


.btn-see-more {
    /*font-family: 'Prompt', sans-serif;*/
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0 auto;
    color: #563D7C;
    background: rgba(152,86,158,0.21);
}
.list-group-item.active {
    z-index: 2;
    border:none !important;
    background-color: #b09ec7 !important;
    border-bottom: 2px solid #f2ecf9 !important;

}
.sf-arrows .sf-with-ul:after {
    content: none !important;
}
.timeline-panel {
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #666;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline-text {
  border-bottom: dashed 1px #4997cd;
  border-top: dashed 1px #4997cd;
  padding: 1.0rem !important;
}

/*.button:hover,
.button:visited {
  background: #006cba;
  color: #fff;
}*/
/* singlepage Section
--------------------------------*/
#singlepage {
  padding: 60px 0 40px 0;
  position: relative;
}

#singlepage::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#singlepage .container {
  position: relative;
  z-index: 10;
}

#singlepage .new-col {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

#singlepage .new-col .img {
  position: relative;
}

#singlepage .new-col .img img {
  border-radius: 4px 4px 0 0;
}

#singlepage .new-col .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: #412e5c;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}

#singlepage .new-col i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#singlepage .new-col:hover .icon {
  background-color: #fff;
}

#singlepage .new-col:hover i {
  color: #412e5c;
}

#singlepage .new-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 40px 0 12px 0;
}

#singlepage .new-col h2 a {
  color: #000;
}

#singlepage .new-col h2 a:hover {
  color: #412e5c;
}

#singlepage .new-col p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}


#intro2{
  background:#FFFFFF;
  padding: 60px 0 40px 0;
  position: relative;
  /* padding-left: calc(0% + 30px);
  padding-right: calc(0% + 30px); */
}
/* About Us Section
--------------------------------*/

#new {
  background: #F9F6EF;
  color: #000 !important;
  padding: 60px 10px 40px 10px;
}

#new::before {
  content: '';
  /* position: absolute; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

#new .container {
  position: relative;
  z-index: 10;

}

/* #new .new-col {
  height: 290px;
  background: #fff;
  border-radius: 0 0 4px 4px;
  margin: 20px 0px;
  box-shadow: 0 0 10px rgba(0,0,0,.15), 0 3px 3px rgba(0,0,0,.15);
} */
#new .new-col {
  background-color: #FFFFFF;
  opacity: 1;
  filter: Alpha(opacity=50);
  padding: 1px 1px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,.15), 0 3px 3px rgba(0,0,0,.15);
}
#new .new-col .img {
  position: relative;
  width: auto;
  /* height: 170px; */
  overflow: hidden;
}

/* #new .new-col .img img {
  border-radius: 4px 4px 0 0;
} */
#new .new-col.colone h2 {
  color: #FFFFFF;
}
#new .new-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  /* padding: 16px; */
  margin: 20px 0 12px 0;
}

#new .new-col h2 a {
  color: #000;
}

#new .new-col h2 a:hover {
  color: #412e5c;
}

#new .new-col p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 4px !important;
  padding: 10px !important;
}

/* #call-to-action {
    background: url(../img/le-cmu.jpg) fixed center center;
    background-size: cover;
    padding: 60px 0;
} */

/* Event Section
--------------------------------*/

#event {
  position: relative;
  background: url(../img/facts-bg.jpg) center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 40px 0;
}

#event::before {
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.88);
  z-index: 9;
}

#event .container-fluid {
  position: relative;
  z-index: 10;
}

#event .facts-img {
  text-align: center;
  padding-top: 30px;
}

#event .event-image {
  position: relative;
  overflow: hidden;
}
#event .event-image img{
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.event-col {
  background-color: #FFFFFF;
  opacity: 0.9;
  padding: 2px 2px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  /*
  filter: Alpha(opacity=50);
  padding: 2px 4px;
  margin-bottom: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,.15), 0 3px 3px rgba(0,0,0,.15); */
}
.event-col:hover .over-shadow {
    opacity: 1;
}
.event-item h4 {
    margin-top: 20px;
    color: #000;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}
.event-item h4 a {
    color: #111111;
}
.event-item p {
    margin-bottom: 20px;
}
.event-item .date {
  background-color: #391e60;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 800;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}
.event-item .date span {
  display: block;
}
.event-item .date .month {
  font-size: 12px;
}
/* Services Section
--------------------------------*/

#course-reg {
  background: #fff;
  background-size: cover;
  padding: 60px 0 40px 0;
}

#course-reg .box {
  margin-bottom: 30px;
}

#course-reg .icon {
  float: left;
}

#course-reg .icon i {
  color: #412e5c;
  font-size: 36px;
  line-height: 1;
  transition: 0.5s;
}

#course-reg .title {
  margin-left: 60px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#course-reg .title a {
  color: #111;
}

#course-reg .box:hover .title a {
  color: #412e5c;
}

#course-reg .description {
  font-size: 14px;
  margin-left: 60px;
  line-height: 24px;
  margin-bottom: 0;
}

/* course-le Section
--------------------------------*/
#course-le {
  background: url(../img/bg-c-le.jpg) center top no-repeat;
  background-size: cover;
  padding: 60px 0;
}
#course-le .course-le-wrap {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  height: 380px !important;
  background: #FFFFFF !important;
  text-align: center;
  margin-bottom: 30px;
}
#course-le .course-le-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}
#course-le .course-le-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}
#course-le .course-le-item figure {
  background: #FFFFFF;
  /* height: 240px;
  border-radius: 4px 4px 0 0;
  margin: 0; */
  overflow: hidden;
  position: relative;
}
#course-le .imgcoursele{
  height:250px;
  overflow:hidden;
  width:100%;
}
#course-le .course-le-item figure:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#course-le .course-le-item figure .link-preview,
#course-le .course-le-item figure .link-details {
  position: absolute;
  display: inline-block;
  opacity: 0;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  transition: 0.2s linear;
}

#course-le .course-le-item figure .link-preview i,
#course-le .course-le-item figure .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #333;
}

#course-le .course-le-item figure .link-preview:hover,
#course-le .course-le-item figure .link-details:hover {
  background: #412e5c;
}

#course-le .course-le-item figure .link-preview:hover i,
#course-le .course-le-item figure .link-details:hover i {
  color: #fff;
}

#course-le .course-le-item figure .link-preview {
  left: calc(50% - 38px);
  top: calc(50% - 18px);
}

#course-le .course-le-item figure .link-details {
  right: calc(50% - 38px);
  top: calc(50% - 18px);
}

#course-le .course-le-item figure:hover .link-preview {
  opacity: 1;
  left: calc(50% - 44px);
}

#course-le .course-le-item figure:hover .link-details {
  opacity: 1;
  right: calc(50% - 44px);
}
#course-le .course-le-item .course-le-info h4 {
  font-size: 18px;
  font-weight: 700;
  padding: 16px;
}

#course-le .course-le-item .course-le-info h4 a {
  color: #333;
}

#course-le .course-le-item .course-le-info h4 a:hover {
  color: #412e5c;
}
/* learner Section
--------------------------------*/
#learner {
  /*background: #3B304E !important;*/
  padding: 0px 0px 10px 0px !important
}
#learner .counters span {
  /*font-family: 'Prompt', sans-serif;*/
  font-weight: bold;
  font-size: 36px;
  display: block;
  color: #412e5c;
  margin: 0 auto;
}

#learner .counters p {
  text-align: center !important;
  /*font-family: 'Prompt', sans-serif;*/
  font-size: 14px;
  color: #111;
}

#learner .card-header {
    font-size: 24px;
    color: #111;
}
#learner .card-learner {
    background-color: #E8EAF6;
    padding-top: 0px;
    cursor: pointer;
}
#learner .card-name:hover {
    color: #424242;
}
#learner p.position{
  padding:2px 12px !important;
}
#learner #card1 {
    border-top: 4px solid #3D5AFE !important;
    transition: 0.5s;
}
#learner #card1:hover {
    box-shadow: 0 0 2px 2px #3D5AFE;
    transition: 0.5s;
}
#learner #card2 {
    border-top: 4px solid #00E676 !important;
    transition: 0.5s;
}
#learner #card2:hover {
    box-shadow: 0 0 2px 2px #00E676;
    transition: 0.5s;
}
#learner #card3 {
    border-top: 4px solid #AB47BC !important;
    transition: 0.5s;
}
#learner #card3:hover {
    box-shadow: 0 0 2px 2px #AB47BC;
    transition: 0.5s;
}
#learner #card4 {
    border-top: 4px solid #FBC02D !important;
    transition: 0.5s;
}
#learner #card4:hover {
    box-shadow: 0 0 2px 2px #FBC02D;
    transition: 0.5s;
}

/* courses Section
--------------------------------*/

#courses {
  padding: 60px 0;
  background: #ebf0f473;
}

#courses img {
  max-width: 100%;
  transition: 0.3s;
  padding: 15px 0;
}

#courses .owl-nav,
#courses .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#courses .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#courses .owl-dot.active {
  background-color: #412e5c;
}

/* courses Section
--------------------------------*/

#course {
  padding: 60px 0;
  background: #FFFFFF;
}

#course img {
  max-width: 100%;
  transition: 0.3s;
  padding: 15px 0;
}

#course .owl-nav,
#course .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#course .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#course .owl-dot.active {
  background-color: #412e5c;
}

.fadeInUpShort.go {
    -webkit-animation-name: fadeInUpShort;
    animation-name: fadeInUpShort;
}
.blog-col {
    margin-bottom: 30px;
    position: relative;
}
.post-date {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    padding: 10px 20px;
    background: #FFB606;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.info-bar {
    background: #FFB606;
    margin-bottom: 20px;
    padding: 10px 15px 10px 15px;
}

#contact{
  background: url(../img/bg-le-footer.jpg) center top;
  /* background: url(../img/bg-footer.jpg) center top no-repeat; */

}

#contact .section-social{
  margin: 0 auto !important;
}

#contact .section-social .social-links a {
  /*font-size: 18px;
    width: 36px;
  height: 36px;
    padding: 8px 0;
   */
  font-size: x-large;
  width: 48px;
  height: 48px;
  padding: 6px 0;
  display: inline-block;
  background: #e8e7e9;
  color: #FFFFFF !important;
  line-height: 1;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s;
}
#contact .section-social .social-links a:hover {
  background: #EEEEEE !important;
}
#contact .section-social .social-links .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/******================== LOGIN MODAL =========******/
.loginmodal-container {
  padding: 30px;
  max-width: 360px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 1px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

/* .loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
} */

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  /*font-family: 'Prompt', sans-serif;*/
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 10px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

#intro h2 { color: #9E76b4; /*#412e5c; */}
.carousel-content > h2 {  text-shadow: 3px 3px #412e5c; /* #9E76b4; */}
