{% extends "header.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        {% if detail.success %}
        <div class="col-6 mr-1">
            <div class="col-12">
                <h2>Student Information</h2>
            </div>
            <div class="col-12 detail-box">
                <div class="col-12">
                    <span>Code: </span><span>{{ detail.student.code }}</span>
                </div>
                <div class="col-12">
                    <span>NameTH: </span><span>{{ detail.student.nameTh}}</span>
                </div>
                <div class="col-12">
                    <span>NameEN: </span><span>{{ detail.student.nameEn }}</span>
                </div>
            </div>
        </div>
        <div class="col-6 mt-5 mr-1">
            <div class="col-12">
                <h2>Course Information</h2>
            </div>
            <div class="col-12 detail-box">
                <div class="col-12">
                    <span>Id: </span><span>{{ detail.course.id }}</span>
                </div>
                <div class="col-12">
                    <span>Code: </span><span>{{ detail.course.code }}</span>
                </div>
                <div class="col-12">
                    <span>Title: </span><span>{{ detail.course.title }}</span>
                </div>
                <div class="col-12">
                    <span>Faculty of: </span><span>{{ detail.course.facultyName }}</span>
                </div>
<!--                <div class="col-12">-->
<!--                    {% set detailCourses = detail.course.detail.split(",") %}-->
<!--                    <span>Detail: </span><br>-->
<!--                    {% for iDetail in detailCourses %}<span>- {{ iDetail }}</span><br>{% endfor %}-->
<!--                </div>-->
               <div class="col-12">
                   <span>Detail: </span><br>
                    <span>{{ detail.course.detail }}</span>
                </div>
                <div class="col-12">
                    <h3>{{ detail.description }}</h3>
                </div>

            </div>
        </div>
        {% else %}
        <div class="center-text">
            <h3>{{ detail.description }}</h3>
        </div>
        {% endif %}</li>

    </div>
</div>
{% endblock %}