{% extends "layout.html" %}
{% block header %}
<header id="header" class="fixed-top header-scrolled">
    <div class="container-fluid">
    <div id="logo" class="pull-left"><h1><a href="#intro" class="scrollto fontLogo">CMU Lifelong Education</a></h1></div>
    <nav id="nav-menu-container">
        <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
            <li class=""><a href="https://www.lifelong.cmu.ac.th/#cmu_mooc">CMU-MOOC</a></li>
            <li class=""><a href="https://www.lifelong.cmu.ac.th/#webinar">Webinar</a></li>
            <li class=""><a href="https://www.lifelong.cmu.ac.th/#course-le">หลักสูตรอบรมระยะสั้น</a></li>
            <li class=""><a href="https://www.lifelong.cmu.ac.th/#course-reg">วิชาเรียนร่วม</a></li>
            <li class=""><a href="https://www.lifelong.cmu.ac.th/#podcast">Podcast</a></li>
            <li><a href="https://www.lifelong.cmu.ac.th/clip_play.php">Video Clip</a></li>
            <li><a href="https://www.lifelong.cmu.ac.th/FAQs.php">FAQ</a></li>
            <li><a href="#" data-toggle="modal" data-target="#modalRegisterSelect">Register</a></li>
            <li><a href="#" data-toggle="modal" data-target="#Modallogin">Login</a></li>
        </ul>
    </nav>
</div>
</header>
{% endblock %}