{% extends "header.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-5 detail-box">
            <div class="row justify-content-center mt-3">
                <div class="col-3 d-flex align-items-center"><span>Student Code: </span></div>
                <div class="col-5"><input type="text" id="stCode" class="inline-block form-control"/></div>
            </div>
            <div class="row justify-content-center mt-1">
                <div class="col-3 d-flex align-items-center"><span>Course Code: </span></div>
                <!-- <div class="col-5"><input type="text" id="cCode" class="inline-block form-control" /></div> -->
                <div class="col-5">
                    <select id="cCode" class="inline-block form-control selectpicker" data-show-subtext="true"
                            data-live-search="true">
                        <option>Please select Course</option>
                        {% for course in detail %}
                        <option value="{{course['id']}}">{{ course['title'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row justify-content-center mt-2 mb-3">
                <div class="col-2">
                    <button class="btn btn-primary" onclick="searchInformation()">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function searchInformation() {
        $("#stCode").css("border-color", "");
        $("#cCode").css("border-color", "");
        if(!$("#stCode").val())
        {
            $("#stCode").css("border-color", "red");
            alert("Please provide student code.");
            return;
        }
        if($("#cCode").val() == "Please select Course")
        {
            $("#cCode").css("border-color", "red");
            alert("Please provide course code.");
            return;
        }
        var param = `${$("#stCode").val()}/${$("#cCode").val()}`;
        window.location.href = window.location.origin + `/information?q=${btoa(param)}`;
    }

</script>
{% endblock %}