<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8">
        <script src="{{ url_for('static', filename= 'js/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename= 'js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename= 'js/bootstrap-3.2.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename= 'js/bootstrap-select.min.js') }}"></script>
        
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap-select.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styleLiftLong.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/modify.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap-3.3.7.min.css') }}">

        <title>{% block title %}{% endblock %}</title>
   </head>
   <body style="background-color: #f7f7f7;">
       <div id="header">{% block header %}{% endblock %}</div>
       <div id="content">{% block content %}{% endblock %}</div>
       <div id="modal">{% include "modal.html" %}</div>
    </body>
</html>