<div class="modal fade" id="Modallogin" role="dialog" data-keyboard="false" data-backdrop="static" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content" style="background: rgb(65, 46, 92); border: 1px solid grey; ">
        <div class="modal-body" style="border-radius: 5px; ">
          <div class="loginmodal-container" style="max-width: 100%; border-radius: 5px; ">
              <div class="align-content-center" style=" padding: 5px; background-color: white; border-radius: 5px;">
                  <img src="https://www.lifelong.cmu.ac.th/img/logo-le-png.png" style="" class="img-fluid">
              </div>
               <form action="" method="post" id="iFormLogin" name="iFormLogin" enctype="multipart/form-data">
                   <div class="font-weight-bold pt-2 pb-1" style="color:#412e5c;">
                       <li class="fa fa-user"></li> Login with your CMU lifelong account
                   </div>
                 <div class="input-group mb-2 mt-2">
                   <input type="text" id="tusername" name="tusername" class="form-control" placeholder="Username">
                   <div class="input-group-append">
                     <span class="input-group-text">@lifelong.cmu.ac.th</span>
                   </div>
                 </div>
                 <div class="input-group mb-2">
                   <input type="password" id="tpassword" name="tpassword" class="form-control" placeholder="Password">
                 </div>
                 <p id="error" style="color:#F00;"></p>
                  <div class="d-flex justify-content-center mt-1 login_container">
                      <input name="page" type="hidden" id="page" value="login">
                      <input id="redirect_page" name="redirect_page" type="hidden" value="">
                      <button type="submit" id="btnLogin" name="login" class="form-control login loginmodal-submit btn-primary" style="cursor: pointer;"><li class="fa fa-check"></li> Login<!--ล็อกอินเข้าสู่ระบบ--></button>
                      <button type="button" id="btnWait" name="btnWait" class="form-control login loginmodal-submit btn-primary disabled" style="cursor: wait; display: none;"><li class="fa fa-spin fa-spinner"></li> Please wait, the system is processing.<!--ระบบกำลังประมวลผล--></button>
                  </div>
               </form>
              <div class="font-weight-bold pt-3 pb-1">
                  <a href="https://www.lifelong.cmu.ac.th/smile/forgot_password.php" title="Forgot password ?" class="text-danger"><li class="fa fa-address-book"></li> Forgot password ?</a>
              </div>
              <div class="text-purple font-weight-bold pt-1 pb-1">
                  <a href="https://www.lifelong.cmu.ac.th/smile/register.php?showRegister=1" title="Sign up for a new account" class="text-primary"><li class="fa fa-user-plus"></li> Sign up for a new account</a>
              </div>
             </div>
        </div>
        <div class="modal-footer pt-0 pb-3" style="border-top: 0px solid rgb(65, 46, 92);">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><li class="fa fa-close"></li> Close</button>
        </div>
      </div>
    </div>
</div>
<div class="modal fade right" id="modalRegisterSelect" tabindex="-1" role="dialog" aria-labelledby="modalRegisterSelectTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog momodel modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class=" modal-header text-center" style="color: #fff; background: rgb(65, 46, 92);">
                <h5 class="modal-title w-100 text-white" id="modalRegisterSelectTitle">ขึ้นทะเบียนผู้เรียนใหม่ (New Learner registration)</h5>
                <button type="button" id="modalRegisterSelectClose" class="close " data-dismiss="modal" aria-label="Close" style="display: none;"><span style="font-size: 1.3em; color: white;" aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body pt-2 pb-2" id="modalRegisterSelectBody" style="font-size: large;">
                <div class="container">
                    <div class="row">
                        <div class="col-6 text-center">
                            <div class="card" style="border: 0px solid white;">
                                <a title="ขึ้นทะเบียนผู้เรียนใหม่สำหรับผู้เรียนคนไทย" href="https://www.lifelong.cmu.ac.th/smile/register.php" style="cursor: pointer;">
                                    <img src="https://www.lifelong.cmu.ac.th/assets/images/thai.png" title="ขึ้นทะเบียนผู้เรียนใหม่สำหรับผู้เรียนคนไทย" class="img-fluid">
                                    <div class="card-body" style="border-top: 0px solid transparent;">
                                        <p class="card-text card-text-fix text-center">ขึ้นทะเบียนผู้เรียนใหม่สำหรับผู้เรียนคนไทย</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 text-center">
                            <div class="card" style="border: 0px solid white;">
                                <a title="New registration for international learners" href="https://www.lifelong.cmu.ac.th/smile/register_foreign.php" style="cursor: pointer;">
                                    <img src="https://www.lifelong.cmu.ac.th/assets/images/foreign.png" title="New registration for international learners" class="img-fluid">
                                    <div class="card-body" style="border-top: 0px solid transparent;">
                                        <p class="card-text card-text-fix text-center">New registration for international learners</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>